.chomped {
    cursor: default;
}

.chomped > a:hover, .chomped > span:hover {
    background-color: #28bb9c !important;
}

[ng-click] {
    cursor: pointer;
}

[ng-cloak] {
    display: none;
}

.awesome-pagination {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.awesome-sortable {
    cursor: pointer;
}

.awesome-sorted:after {
    content: '^';
}

.awesome-sorted.awesome-sorted-reverse:after {
    content: 'v';
}
